*
{
    margin: 0;
    padding: 0;
}
@media (max-width : 500px)
{
    .navbar
    {
        height: 130px;
        flex-direction: column;
    }
    .name>p
    {
        text-align: center;
        font-size: 30px;
    }
    .menu-bar
    {
       flex-direction: row;
    }
    .home-button
    {
        font-size: 16px;
    }
    .home
    {
        width: 10px;
    }
    
    .page{
        height: 750px;
        border: none;
        margin-left: 20px;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        margin-top: 10px;
    } 

    .myphoto{
        height: 200px;
        width: 200px;
        position: relative;
        left:0;
        margin-bottom: 10px;
    }

    #photo{
        height:300px;
        width: 200px;
        object-fit: cover;
        border-radius: 50%;
    }
}
.navbar
{
    height: 90px;
    width: 100%;
    color: white;
    background-color: #1B1B3A;
    display: flex;
}
.menu-bar
{
     display: flex;
     width: 30%;
}
.name
{
    width: 60%;
    font-size: 40px;
    padding-left: 20px;
}
.home
{
    width: 130px;
    height: 50px;
    padding: 10px;
}
#home-button
{
    padding: 9px;
    color: white;
    background-color: #693668;
    color: white;
    transition: all 0.4s;
    border: none;
}
#home-button:hover
{
     background-color: #ff7225;
     transform: scale(1.3);
}
#about-button
{
    padding: 9px;
    color: white;
    background-color: #693668;
    transition: all 0.4s;
    border: none;
}
#about-button:hover
{
     background-color: #ff7225;
     transform: scale(1.3);
}
#education-button
{
    padding: 9px;
    color: white;
    background-color: #693668;
    transition: all 0.4s;
    border: none;
}
#education-button:hover
{
     background-color: #ff7225;
     transform: scale(1.3);
}
#skills-button
{
    padding: 9px;
    color: white;
    background-color: #693668;
    transition: all 0.4s;
    border: none;
}
#skills-button:hover
{
     background-color: #ff7225;
     transform: scale(1.3);
}
#photo
{
    width: 400px;
    border-radius: 50px;
}
.page
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 110px;
    border: 1.5px solid #1a1a1a;
    color: white;
}
.hide
{
    display: none;
}
body
{
    background-color: #1a1a1a;
}
.demo-d>p
{
    font-size: large;
}
a{
    color: rgb(255, 102, 102);
    text-decoration: none;
    transition: all 0.4s;
}
a:hover
{
     color: red;
     transform: scale(1.3);
}